* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    overflow: hidden;
}

.home-top {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/DreamShaper_v7_two_flamingos_from_inside_a_cafe_it_is_a_backgr_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-top-responsive{
    display: none;
}
.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 100%;
    background-color: var(--dm-shadowglass, rgba(0, 0, 0, .6));
}

.logo-img h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 58px;
    color: white;

}

.logo-img img {
    width: 200px;
    aspect-ratio: 1/1;
    /* filter: drop-shadow(10px 2px 20px white) */
}

.border {
    border: 1px solid black;
}

.menu-list {
    width: 100%;
    max-width: 780px;

}

.display-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mt-20 {
    margin-top: 20px;
}

.list-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dm-shadowglass, rgba(0, 0, 0, .6));
    border-radius: 20px;
}

.list {
    width: 95%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    transform: translateX(200%);
    transition: transform 0.6s ease;
}

#list-1 {
    background-image: url(img/top-view-tasty-coffee-with-coffee-beans.jpg);
}
#list-1 {
    background-image: url(img/top-view-tasty-coffee-with-coffee-beans.jpg);
}
#list-2 {
    background-image: url(img/latte-kahvve.jpg);
}

#list-3 {
    background-image: url(img/kokteyl.jpg);
}

#list-4 {
    background-image: url(img/chemex-7446641.jpg);
}

#list-5 {
    background-image: url(img/soğuk\ kahve-foto.jpg);
}

#list-6 {
    background-image: url(img/soğuk\ içecekler.jpg);
}

#list-7 {
    background-image: url(img/milkshake.jpg);
}

#list-8 {
    background-image: url(img/frozen.jpg);
}

#list-9 {
    background-image: url(img/1a1968eb4dfb33b5ade3c33e5a0fea46.jpeg);
}

.list:nth-of-type(even) {
    transform: translateX(-200%);
}

.list.show {
    transform: translateX(0);
}
@media screen and (max-width: 426px){
    .home-top {
        display: none;
    }
    .home-top-responsive{
        display: inline;
        background-image: url(img/responsive-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 425px;
        height: 500px;
    }
    .logo-img{
    background-color: var(--dm-shadowglass, rgba(0, 0, 0, .4));
    }
    .logo-img img{
        position: relative;
        top: -180px;
        width: 30%;
        height: auto;
    }
}
/* @media screen and (min-width: 425px){
    .home-top{
        display: none;
    }
    .home-top-responsive{
        display: inline;
        background-image: url(img/responsive-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 630px;
        max-width: 430px;
        height: 700px;
    }
    .logo-img img{
        position: relative;
        top: -180px;
        width: 30%;
        
    }
} */
/* .logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 100%;
    background-color: var(--dm-shadowglass, rgba(0, 0, 0, .6));
} */
/* .home-top {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/DreamShaper_v7_two_flamingos_from_inside_a_cafe_it_is_a_backgr_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */